{% extends 'base.html.twig' %}

{% block body %}
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Student list</h1>
                    <hr />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Firstname </th>
                        <th>Lastname </th>
                        <th>Numetud </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td><a href="{{ path('student_show', { 'id': student.id}) }}">{{ student.id }}</a></td>
                        <td>{{ student.firstName }}</td>
                        <td>{{ student.lastName }}</td>
                        <td>{{ student.numEtud }}</td>
                        <td>

                                    <a type="button" class="btn btn-info" href="{{ path('student_show', { 'id': student.id }) }}">show</a>

                                    <a style="button" class="btn btn-info" href="{{ path('student_edit', { 'id': student.id }) }}">edit</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
    </table></div>
</div>


    <ul>
        <li>
            <a href="{{ path('student_new') }}">Create a new student</a>
        </li>
    </ul>
{% endblock %}
